#memory-game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.card {
    width: 100%;
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    border: 2px solid #333;
    width: 100px;
}

.card.flipped {
    background-color: #ccc; /* Change the color when flipped */
}


/* Some basic styling for the left panel */
#left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    padding: 20px;
    background-color: #eeeeee;
}

